._19idO {
    max-height: 100%;
    overflow: auto;
    z-index: 320
}

._3qIEH {
    margin: 0 auto;
    padding: 32px 16px
}

@media (min-width:700px) {
    ._3qIEH {
        max-width: 1140px;
        padding: 40px 24px
    }
}

.LrHmv {
    transform: translateY(0)
}

._2x6yk {
    transform: translateY(100%)
}

._19BgO {
    animation-duration: .4s;
    animation-fill-mode: both;
    animation-name: q-MLq;
    animation-timing-function: ease-in-out
}

@keyframes q-MLq {
    0% {
        transform: translateY(100%)
    }
    to {
        transform: translateY(0)
    }
}

._2U88J {
    animation-duration: .4s;
    animation-fill-mode: forwards;
    animation-name: _3w9d4;
    animation-timing-function: ease-in-out
}

@keyframes _3w9d4 {
    0% {
        transform: translateY(0)
    }
    to {
        transform: translateY(100%)
    }
}

._1VYts {
    background: rgb(var(--color-snow));
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%
}

._2ALir {
    align-items: center;
    display: flex
}

._1xgBw {
    color: rgb(var(--color-macaw));
    font-size: 15px;
    font-weight: 700
}

._1wpKJ {
    flex-direction: column;
    width: 100%
}

._1wpKJ,
.f7wRz {
    align-items: center;
    display: flex
}

.f7wRz {
    font-weight: 700
}

._2bg9k {
    color: rgb(var(--color-cardinal))
}

._3K2Bu {
    gap: 8px;
    position: absolute;
    right: 24px;
    top: 24px
}

._2N_mp {
    color: rgb(var(--color-hare))
}

._18XBD {
    margin-bottom: 16px
}

._3EOcm {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    max-width: 360px;
    text-align: center
}

._31cUy {
    max-width: 100%
}

.FT_m7 {
    color: rgb(var(--color-wolf));
    margin-bottom: 40px
}

@media (min-width:700px) {
    .FT_m7 {
        font-size: 19px;
        line-height: 1.5
    }
}

.N_8LD {
    display: flex;
    font-weight: 700;
    justify-content: space-evenly;
    margin-bottom: 24px
}

._25-h- {
    --web-ui_button-background-color-disabled: duo-color("snow");
    --web-ui_button-border-radius: 12px;
    --web-ui_button-font-size: 17px;
    --web-ui_button-height: auto;
    --web-ui_button-padding: 14.5px 16px;
    flex-direction: column;
    flex-grow: 1;
    gap: 8px;
    max-width: 160px;
    position: relative;
    text-transform: none !important;
    white-space: normal
}

._3IwsC {
    max-width: 208px
}

._34gxT {
    max-width: 16px;
    min-width: 8px
}

._3Dw6H {
    aspect-ratio: 1;
    margin-top: 5px;
    width: 105px
}

@media (max-width:360px) {
    ._3Dw6H {
        width: 80px
    }
}

._2-V3h {
    color: rgb(var(--color-black-text));
    display: block
}

._3goLf {
    background: linear-gradient(130deg, rgb(var(--color-gamma)) -20%, rgb(var(--color-starlight)) 40%, rgb(var(--color-quasar)) 112%);
    border-radius: 12px 12px 0 0;
    height: 100%;
    height: 30px;
    left: -2px;
    padding: 8px;
    position: absolute;
    right: -2px;
    top: -20px
}

._3goLf>img {
    height: 16px
}

._3XJ5p {
    color: rgb(var(--color-nova));
    display: block;
    text-transform: uppercase
}

._2fNWI {
    align-self: flex-end;
    min-width: 200px
}

@media (max-width:530px) {
    ._2fNWI {
        width: 100%
    }
}

._3f3xO {
    --web-ui_button-height: 32px;
    align-self: center;
    margin-top: 16px
}

._2KGtz {
    filter: grayscale(1)
}

._138TP {
    color: rgb(var(--color-snow-always-light));
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%
}