._11ql8 {
    width: 100%
}

@media (min-width:700px) {
    ._11ql8 {
        min-width: 75%;
        width: auto
    }
}

._3PkMt {
    --web-ui_button-border-color: rgb(var(--color-max-shadow));
    --web-ui_button-color: rgb(var(--color-black))
}

._3PkMt:not(._38vb3):before {
    background: linear-gradient(77deg, rgb(var(--color-aqua-always-light)) 6.39%, rgb(var(--color-gamma)) 197.61%) !important
}

._3PkMt:not(._38vb3)._2fPnD:before {
    background: url(https://d35aaqx5ub95lt.cloudfront.net/vendor/fa52296d04de1e1b44fec8712e5959e6.svg), linear-gradient(77deg, rgb(var(--color-aqua-always-light)) 6.39%, rgb(var(--color-gamma)) 197.61%) !important;
    background-clip: padding-box, border-box !important;
    background-origin: padding-box, border-box !important;
    border: 2px solid transparent !important
}

._18biF {
    --web-ui_button-color: rgb(var(--color-ocean));
    --web-ui_button-color-active: rgb(var(--color-ocean))
}

._1yKZz {
    width: 100%
}

._3OWkn {
    color: rgb(var(--color-wolf));
    line-height: 1.4;
    padding: 0 24px
}

@media (min-width:700px) {
    ._3OWkn {
        align-self: flex-start;
        font-size: 19px;
        grid-area: description;
        line-height: 24px;
        padding: 0
    }
}

._2aX4E ._3OWkn {
    color: rgb(var(--color-swan))
}

._2npgo ._3OWkn,
._34XTp ._3OWkn {
    color: rgb(var(--color-swan-always-light))
}

._1fZrK {
    grid-gap: 16px 40px;
    display: grid;
    text-align: center
}

@media (min-width:700px) {
    ._1fZrK {
        align-items: center;
        grid-template-areas: "title cta";
        text-align: initial
    }
    ._1fZrK,
    ._1fZrK._25RZD {
        grid-template-columns: 1fr minmax(min-content, 172px)
    }
    ._1fZrK._25RZD {
        grid-template-areas: "title cta" "description cta"
    }
    ._1fZrK._25RZD.eDTjy {
        grid-template-areas: "title dismiss cta" "description dismiss cta"
    }
    ._1fZrK._25RZD.eDTjy,
    ._1fZrK.eDTjy {
        grid-template-columns: 1fr repeat(2, minmax(min-content, 172px))
    }
    ._1fZrK.eDTjy {
        grid-template-areas: "title dismiss cta"
    }
    ._1fZrK._3tWO8 {
        grid-template-areas: "image title cta"
    }
    ._1fZrK._3tWO8,
    ._1fZrK._3tWO8._25RZD {
        grid-template-columns: min-content 1fr minmax(min-content, 172px)
    }
    ._1fZrK._3tWO8._25RZD {
        grid-template-areas: "image title cta" "image description cta"
    }
    ._1fZrK._3tWO8._25RZD.eDTjy {
        grid-template-areas: "image title dismiss cta" "image description dismiss cta"
    }
    ._1fZrK._3tWO8._25RZD.eDTjy,
    ._1fZrK._3tWO8.eDTjy {
        grid-template-columns: min-content 1fr repeat(2, minmax(min-content, 172px))
    }
    ._1fZrK._3tWO8.eDTjy {
        grid-template-areas: "image title dismiss cta" "image title dismiss cta"
    }
}

._3pNSu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end
}

._17QsQ {
    justify-self: center
}

@media (min-width:700px) {
    ._17QsQ {
        grid-area: image
    }
    ._2fYus {
        grid-area: dismiss;
        margin-right: -12px
    }
    ._3pyCk {
        grid-area: cta
    }
    .eDTjy ._3pyCk {
        margin-left: -12px
    }
}

._2ac0P {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font: var(--text-heading-weight-medium) var(--text-heading-size-medium) /var(--text-heading-line-height-medium) din-round, sans-serif;
    letter-spacing: var(--text-heading-letter-spacing-medium);
    text-transform: var(--text-heading-casing-medium)
}

@media (min-width:700px) {
    ._2ac0P {
        grid-area: title
    }
    ._25RZD ._2ac0P {
        align-self: flex-end
    }
}

._19idO {
    max-height: 100%;
    overflow: auto;
    z-index: 320
}

._3qIEH {
    margin: 0 auto;
    padding: 32px 16px
}

@media (min-width:700px) {
    ._3qIEH {
        max-width: 1140px;
        padding: 40px 24px
    }
}

.LrHmv {
    transform: translateY(0)
}

._2x6yk {
    transform: translateY(100%)
}

._19BgO {
    animation-duration: .4s;
    animation-fill-mode: both;
    animation-name: q-MLq;
    animation-timing-function: ease-in-out
}

@keyframes q-MLq {
    0% {
        transform: translateY(100%)
    }
    to {
        transform: translateY(0)
    }
}

._2U88J {
    animation-duration: .4s;
    animation-fill-mode: forwards;
    animation-name: _3w9d4;
    animation-timing-function: ease-in-out
}

@keyframes _3w9d4 {
    0% {
        transform: translateY(0)
    }
    to {
        transform: translateY(100%)
    }
}

._1VYts {
    background: rgb(var(--color-snow));
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%
}

._3HM8S {
    height: 154px;
    width: 173px
}